<ion-header>
  <ion-toolbar>
    <ion-title>
      Lista de Séries
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
    <ion-searchbar color="dark" placeholder="Pesqusiar" (ionChange)="filtrar()" [(ngModel)]="busca"></ion-searchbar>
  <ion-list>
    <ion-item routerLink="/detalhes/{{i.id}}" *ngFor="let i of listaShow">
      <ion-avatar *ngIf="i.image != null">
        <img [src]="i.image.medium"/>
      </ion-avatar>
      <ion-label>&nbsp;&nbsp;{{i.name}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
